/* Основні стилі для всього тіла документа */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Стилізація основного розділу */
section {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 450px;
}

/* Стилі для форми */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="number"],
input[type="radio"],
button {
    padding: 8px;
    margin-top: 5px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

legend {
    padding: 0 5px;
    font-weight: bold;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95em;
    margin-top: 5px;
}

/* Відображення радіокнопок і їх міток */
input[type="radio"] {
    accent-color: #4CAF50;
}